<div class="container main-container">
  <div class="jumbotron jumbotron-fluid animated fadeIn">
    <div class="container">
        <h1 class="display-4">
            {{ 'AVISOS.TITULO' | translate }}
        </h1>
        <p class="lead">
            {{ 'AVISOS.SUBTITULO' | translate }}
        </p>
        <hr class="my-4">
        <p>
            {{ 'AVISOS.PARRAFO1' | translate }}
        </p>
        <p>
            {{ 'AVISOS.PARRAFO2' | translate }}
        </p>
        <p>
            {{ 'AVISOS.PARRAFO3' | translate }}
        </p>
        <p>
            {{ 'AVISOS.PARRAFO4' | translate }}
        </p>
        <p>
            {{ 'AVISOS.PARRAFO5' | translate }}
        </p>
        <p>
            {{ 'AVISOS.PARRAFO6' | translate }}
        </p>
    </div>
  </div>
</div>