<div class="container main-container">
    <div class="jumbotron jumbotron-fluid animated fadeIn">
        <div class="container">
            <h1 class="display-4">
                {{ 'DATOS.TITULO' | translate }}
            </h1>
            <hr class="my-4">
            <p>
                <b>{{ 'DATOS.P1' | translate }}</b> {{ 'DATOS.P1_2' | translate }}
            </p>
            <p>
                <b>{{ 'DATOS.P2' | translate }}</b> {{ 'DATOS.P2_2' | translate }}
            </p>
            <p>
                <b>{{ 'DATOS.P3' | translate }}</b> {{ 'DATOS.P3_2' | translate }}
            </p>
            <p>
                <b>{{ 'DATOS.P4' | translate }}</b> {{ 'DATOS.P4_2' | translate }}
            </p>
            <p>
               {{ 'DATOS.P4_3' | translate }}
            </p>
            <ul>
                <li>{{ 'DATOS.P4_4' | translate}}</li>
                <li>{{ 'DATOS.P4_5' | translate}}</li>
            </ul>
            <p>
                <b>{{ 'DATOS.P5' | translate }}</b> {{ 'DATOS.P5_2' | translate }}
            </p>
            <p>
                <b>{{ 'DATOS.P6' | translate }}</b> {{ 'DATOS.P6_2' | translate }}
            </p>
            <p>
               {{ 'DATOS.P7' | translate }}
            </p>
            <p>
                {{ 'DATOS.P8' | translate }}
            </p>
            <ul>
                <li>{{ 'DATOS.P8_2' | translate}}</li>
                <li>{{ 'DATOS.P8_3' | translate}}</li>
            </ul>
            <p>
                {{ 'DATOS.P9' | translate }}
            </p>
            <p>
                {{ 'DATOS.P10' | translate }}
            </p>
        </div>
    </div>
</div>