<div class="container main-container">
    <div class="jumbotron jumbotron-fluid animated fadeIn">
        <div class="container margenDebajo">
            <h1 class="display-4 negrita">
                {{ 'INICIO.INFO' | translate }}
            </h1>
        </div>
        <div class="container margenDebajo">
            <h6 class="lead negrita">
                {{ 'INICIO.NUM_PUNTOS' | translate }}
            </h6>
            <p>{{'INICIO.NUMERO1' | translate }}</p>
            <p>{{'INICIO.NUMERO2' | translate }}</p>

            <div class="text-center view overlay zoom">
                <img src="../../../assets/informacion/Etiqueta.jpg" class="rounded margenDebajo imagenPortada img-fluid mx-auto d-block">
            </div>
        </div>
        <div class="container margenDebajo">
            <h6 class="lead negrita">
                {{ 'INICIO.TIT_AHORRO' | translate }}
            </h6>
            <p>{{'INICIO.AHORRO1' | translate }}</p>
            <p>{{'INICIO.AHORRO2' | translate }}</p>
            <p>{{'INICIO.AHORRO3' | translate }}</p>
            <div class="text-center view overlay zoom">
                <img src="../../../assets/informacion/Ahorro_edited.jpg" class="rounded margenDebajo imagenPortada img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
</div>