.contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buscador {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.img-fluid {
    max-width: 35%;
    height: auto;
}

.btnSeparado {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.btnUbicacion {
    text-align: end;
    align-items: center;
    margin-bottom: 1%;
}