<div class="container animated fadeIn">
    <h1 mat-dialog-title>{{ 'INCIS.TIT_DIALOGO' | translate }}</h1>
    <mat-dialog-content>
        <form [formGroup]="formaIncidencia" (submit)="guardarGestion()">
            <span class="badge badge-pill badge-dark azul margenPildora">{{ 'INCIS.SUBTIT2_DIALOGO' | translate }}</span>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="contenedor" appearance="outline">
                        <mat-label>{{ 'INCIS.IDELEC' | translate }}</mat-label>
                        <input matInput name="idElectromur" formControlName="idElectromur">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="contenedor" appearance="outline">
                        <mat-label>{{ 'INCIS.IDAYTO' | translate }}</mat-label>
                        <input matInput name="idAyto" formControlName="idAyto">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="contenedor" appearance="outline">
                        <mat-label>{{ 'INCIS.OBSERVACIONES_INTERNAS' | translate }}</mat-label>
                        <textarea matInput formControlName="observaciones"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <span class="badge badge-pill badge-dark azul margenPildora">{{ 'INCIS.SUBTIT_DIALOGO' | translate }}</span>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="contenedor" appearance="outline">
                        <mat-label>{{ 'INCIS.ESTADOACTUAL' | translate }}</mat-label>
                        <input name="estado" matInput formControlName="estado">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="contenedor" appearance="outline">
                        <mat-label>{{ 'INCIS.ESTADONUEVO' | translate }}</mat-label>
                        <mat-select name="nuevoEstado" formControlName="nuevoEstado">
                            <mat-option *ngFor="let st of estados" [value]="st.id"> {{st.suma}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="contenedor" appearance="outline">
                        <mat-label>{{ 'INCIS.RESOLUCION' | translate }}</mat-label>
                        <textarea matInput formControlName="mensajeResolucion"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row margenDebajo">
                <div class="example-button-row">
                    <button mat-raised-button class="btnSeparado" type="submit" color="accent" [disabled]="deshabilitarBtn">
                        {{ 'GUARDAR' | translate }}
                    </button>
                    <button mat-raised-button color="accent" type="button" btnSeparado (click)="cancelarDialogo()">
                        {{ 'CANCELAR' | translate }}
                    </button>
                </div>
            </div>
            <div class="row contenedor margenDebajo">
                <mat-accordion class="contenedor">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title >
                                <mat-icon matSuffix>
                                    {{'storage'}}
                                </mat-icon>
                            </mat-panel-title>
                            <mat-panel-description>
                                {{ 'INCIS.TAB_REGISTROS' | translate }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-12">
                                <div *ngIf="datosTabla.length == 0">
                                    <p>{{ 'INCIS.NO_TABLA' | translate }}</p>
                                </div>
                                <div class="table-responsive" *ngIf="datosTabla.length > 0">
                                    <table class="table table-striped table-light">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">{{ 'INCIS.ESTADO_INICIAL' | translate}}</th>
                                                <th scope="col">{{ 'INCIS.ESTADO_FINAL' | translate}}</th>
                                                <th scope="col">{{ 'INCIS.CREADOR' | translate}}</th>
                                                <th scope="col">{{ 'FECHA' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of datosTabla">
                                                <td>{{ item.estadoInicial }}</td>
                                                <td>{{ item.estadoFinal }}</td>
                                                <td>{{ item.usuario }}</td>
                                                <td>{{ item.fechaFormateada }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="row contenedor">
                <mat-accordion class="contenedor">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title >
                                <mat-icon matSuffix>
                                    {{'account_circle'}}
                                </mat-icon>
                            </mat-panel-title>
                            <mat-panel-description>
                                    {{ 'INCI.INFO_CONTACTO' | translate }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-12" *ngIf="datosUsuario.correo">
                                <mat-list>
                                    <h3 mat-subheader>Correo</h3>
                                    <mat-list-item>
                                        <p mat-line> {{ datosUsuario.correo}} </p>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <h3 mat-subheader>Nombre y apellidos</h3>
                                    <mat-list-item>
                                        <p mat-line> {{ datosUsuario.nombre }} {{ datosUsuario.apellidos }}</p>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <h3 mat-subheader>Telefono</h3>
                                    <mat-list-item>
                                            <p mat-line> {{ datosUsuario.telefono }} </p>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </mat-list>
                            </div>
                            <div class="col-md-12" *ngIf="!datosUsuario.correo">
                                <mat-list-item> {{ 'INCI.BAJA' | translate}}</mat-list-item>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </form>
    </mat-dialog-content>
</div>
