<div class="container main-container">
    <div class="jumbotron jumbotron-fluid animated fadeIn">
        <div class="container">
            <h1 class="display-4 ">
                {{ 'INICIO.TITULO1' | translate }}
            </h1>
            <p class="lead ">
                {{ 'INICIO.SUBTITULO1' | translate }}
            </p>
            <hr class="my-4">
            <p class="">
                {{ 'INICIO.PARRAFO1' | translate }}
            </p>
            <p class="">
                {{ 'INICIO.PARRAFO2' | translate }}
            </p>
        </div>
    </div>
</div>
