<div class="container main-container" style="margin-top: 10px">
  <div class="jumbotron jumbotron-fluid animated fadeIn">
    <div class="container">
        <h1 class="display-4">
            {{ 'INICIO.TITULO2' | translate }}
        </h1>
        <p class="lead">
            {{ 'INICIO.SUBTITULO2' | translate }}
        </p>
        <hr class="my-4">
        <p>
            {{ 'INICIO.PARRAFO3' | translate }}
        </p>
        <p>
            {{ 'INICIO.PARRAFO4' | translate }}
        </p>
        <p>
            {{ 'INICIO.PARRAFO5' | translate }}
        </p>
    </div>
  </div>
</div>